<<<<<<< Updated upstream
=======
.days{
    background: ghostwhite;
}
.meals{
    background: gray;
}
.mat-input-element{
    
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;

}
>>>>>>> Stashed changes
