.days{
    background: ghostwhite;
}
.meals{
    background: gray;
}
.mat-input-element{
    
    min-width: -webkit-fill-available;
    min-height: -webkit-fill-available;

}
.plan{
    height: 60vh;;
}
.h1{
    height: 10vh;
}
