.stockpage{
    
    
}
#stockpagetop{
    height: 60vh;
    
}
#stockpagebottom{
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#stockbox{
    height: 30%;
}
#newrecipe{
    width: 50%;
    
}
#newingredient{
    
    width: 50%;
    
}