/* You can add global styles to this file, and also import other style files */

.bg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -5;
    background-color: black;
}
.identity{
    display: flex;
    flex-direction: row;
    place-content: center;
    align-items: center;
    width: 100%;
}
.mat-toolbar{
    background: white;
    padding: 0px !important;
    z-index: 2;
    width: 100%;
    height: 5%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .mat-toolbar-row, .mat-toolbar-single-row {
        padding:  0px;
    }

    .title{
        
        font-size: larger;
        font-family: fantasy;
        
    }
    .titleLogo{
        height: 6vh;
        width: 6vw;
        min-width: 5vw;
        min-height: 5vh;
        background-color: rgba(128, 128, 128, 1);
        
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }


      .example-spacer {
        flex: 1 1 auto;
      }
    .toolbarLinks{
        flex: 1 1 auto;
        display: flex;

        
        
    }
    .headerButtonLayout{
        display: flex;
        background-color: black;
        flex: 1 1 auto;
    text-align-last: center;
    }
    .headerButtonsBox{
        width: -webkit-fill-available;
        
            .headerButtons{
        
                width: -webkit-fill-available;
                
        
        
            }
    }
    .buttonlink{
        height: 6vh;
        width:  100vw;
        place-items: center;
        background-color: white !important;
        
        
    }
    
    
    mat-button-toggle-group {
        box-shadow: none;
        background-color: white !important;
        color: blue($color: #000000);
         display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        font-size: 10px;
      }
      .mat-button-toggle-button{
        height: 5vh;
        width: -webkit-fill-available;
      }
      .mat-button-toggle {
          border: 1px rgb(245, 245, 245) solid !important;
          width: 33vw;
          height: 5.5vh;
          padding: 0 5px !important;
          z-index: 3 !important;
      }
      
      mat-button-toggle:hover {
          border: 1px #000 solid !important;
          background-color: rgb(245, 245, 245) !important;
          color: black;
          
          border-radius: 5px !important;
      }
      
      .mat-button-toggle-checked {
            box-shadow: 0 0 30px #000 !important;
          border: 1px #000 solid !important;
          border-radius: 5px !important;
          background-color: hsl(0, 0%, 0%) !important;
          color: white;
      }
    
      
      .mat-button-toggle-input {
          background-color: rgb(245, 245, 245) !important;
          padding-left: 32px !important;
      }
      .mat-button-toggle-label-content {
        line-height: 10opx !important; 
    }
    
    
}





.pageContents{
    

    margin: auto;
  width: 90%;
  height: 60%;
  border: 3px solid green;
  padding: 10px;
    
    
    background-color: rgba(150, 144, 144, 0.95);
    
    
    
}
.alert{
    background-color: red;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
